* {
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    border-style: solid;
  border-width: 0px;
}

.container {
    border-radius: 15px;
}

div {
  width: 95%;
}

img {
    display: block;
    max-width: 10%;
}

main {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

nav {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: #b9b9b9;
    width: auto - 10%;
}

.textbox + nav{
  padding: 15px;
  border-radius: 10px;
}

.textbox {
    background-color: #c1e7f5;
}

.footer {
    width: 25%;
    color: #b9b9b9;
    text-align: center;
}

.box {
    margin: 20px;
    border-radius: 25px;
    background-color: #c1e7f5;
    height: 300px;
}

.longbox {
    margin: 20px;
    border-radius: 25px;
    height: 150px;
}

ul {
  list-style-type: none;
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 6px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}