div {
  width: 95%;
}

img {
    display: block;
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
}

*{
    margin-left: auto;
    margin-right: auto;
    
}

main {
    text-align: center;
}

nav {
    background-color: lightblue;
    text-align: center;
    max-width: 50%;
}